*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lora', serif;
}
.container{
    border: 1px solid green;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 25%;
    padding: 3rem .6rem;
}
.container h3{
    padding-bottom: 3rem;
}
.container h4{
    margin-left: 12rem;
    padding-bottom: .5rem;
}
.container h5{
    margin-left: 14.4rem;
}
#btn{
    margin: 4rem 0 1rem 0;
    padding: .5rem .8rem;
    font-size: 17px;
    color: white;
    background: grey;
    border: none;
    border-radius: 5px;
}