*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lora', serif;
}
.container{
    border: 1px solid green;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 25%;
    padding: 3rem .6rem;
}
.container h3{
    padding-bottom: 1rem;
}
.container h4{
    margin-left: 10rem;
    padding-bottom: .5rem;
}
.container h5{
    margin-left: 12rem;
}